{
  "extends": ["airbnb"],
  "env": {
    "node": true
  },
  "rules": {
    "no-console": ["off"],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true
      }
    ],
    "indent": ["error", 2],
    "quotes": [2, "single", "avoid-escape"]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js",
      }
    }
  }
}
